.slides{
    width: 100%!important;
    height: 100%!important;
}
.contimg{
    width: 100%!important;
    text-align: -webkit-center;
    ion-img{
    width: 180px!important;
    align-items: center;
    
    }
}

.card{
    background-color: white;
}